{% extends "layout.html" %}
{% load static %}

{% block title %}Password Reset Sent{% endblock %}

{% block content %}
<div class="password-reset-container">
    <h2>Password Reset Email Sent</h2>
    <p>We've emailed you instructions for setting your password. You should receive them shortly.</p>
    <p>If you don't receive an email, please make sure you've entered the address you registered with.</p>
    
    <div class="back-to-login">
        <a href="{% url 'login' %}">Back to Login</a>
    </div>
</div>
{% endblock %} 